div.container
  margin: 3% 38%

  form
    border: 1px solid black
    width: 360px
    height: 280px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border-radius: 10px
    background-color: darkcyan
    color: snow

    input
      margin-bottom: 6px
      margin-left: 5px

    div
      button
        border-radius: 4px
        height: 30px
        margin-top: 10px
        margin-left: 30%

        &:hover
          background-color: darken(#4f7070, 6%)
          color: snow
          cursor: pointer

div.contact
  border: 1px solid black
  height: 200px
  width: 250px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border-radius: 7px
  margin-bottom: 20px
  background-color: darkgray
  color: #3f3352

  div
    button
      border-radius: 4px
      height: 25px
      width: 65px
      margin-top: 10px
      margin-left: 9px

      &:hover
        background-color: darken(#4f7070, 6%)
        color: snow
        cursor: pointer

  div.link
    margin-top: 10px
    margin-left: 16%

  a
    text-decoration: none
    color: #3f3352

    &:hover
      color: #0c804c


div.list
  display: flex
  justify-content: space-around
  flex-wrap: wrap
