.wrapper
  display: flex
  justify-content: space-around
  margin: 2% 0

.card
  border: 1px solid silver
  border-radius: 20px
  padding: 2em 2em
  height: 420px

form
  display: flex
  flex-direction: column
  width: 300px

table
  width: auto
  border: 1px solid silver
  height: auto

table.mat-table
  border-spacing: 5px


.update-button, .delete-button
  height: 47px
  width: 150px
  border-radius: 7px
  background-color: #9a9a9a
  color: snow

.update-button
  left: 20px

.update-button:hover, .delete-button:hover
  background-color: #6c6c6c
  cursor: pointer

.text-align-center
  text-align: center

.link
  text-decoration: none
  text-align: center
  box-sizing: border-box
  padding-left: 20px

.link:hover
  cursor: pointer

