<div class="container">
  <button class="enigma-icon-button" mat-icon-button [mat-menu-trigger-for]="navigationMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #navigationMenu>
    <button mat-menu-item [routerLink]="'contacts'">Contacts</button>
    <button mat-menu-item [routerLink]="'filter'">Filter</button>
    <button (click)="logout()" mat-menu-item>Log out</button>
  </mat-menu>
  <div class="contacts"><a routerLink="contacts">Contacts</a></div>
  <div class="filter"><a routerLink="filter">Filter</a></div>
  <div class="toggle-and-search">
    <app-theme-toggle></app-theme-toggle>
    <app-search></app-search>
  </div>
</div>
