div.container
  height: 50px
  margin: 0 5% 0 5%
  padding: 0 3% 0 3%
  background-color: #343333
  color: white
  border-radius: 4px
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 23px
  div
       a
         text-decoration: none
         color: snow
         margin-left: 4px
  app-search
    margin-right: 90px
