div.container
  height: 70px
  padding: 0 1%
  background-color: #343333
  color: white
  display: flex
  justify-content: space-between
  align-items: center
  font-size: x-large

  div
    a
      text-decoration: none
      color: snow
      margin-left: 4px

div.toggle-and-search
  display: flex
  align-items: center
  gap: 20px

  app-search
    margin-left: 4px

  app-theme-toggle
    transform: scale(1.5)

div.mat-menu
    display: none


@media screen and (max-width: 600px)
    .contacts, .filter
      display: none
      width: 160px

    app-search
      max-width: 160px

