div.container
  margin: 10% 43%
  div.head-content
    display: flex
div.contact
  border: 1px solid black
  height: 200px
  width: 250px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border-radius: 7px
  margin-bottom: 20px
  background-color: darkgray
  color: #3f3352


  div.link
    margin-top: 10px
    margin-left: 16%

  a
    text-decoration: none
    color: #3f3352

    &:hover
      color: #0c804c


div.list
  display: flex
  justify-content: space-around
  flex-wrap: wrap
